@model vNextAdminLib.Components.Form.Input
<div class="form-group @Model.GetStatusCss()">
    @if (!string.IsNullOrWhiteSpace(Model.Label))
    {
        <label>@Model.Label</label>
    }
    @switch (Model.Type)
    {
        case vNextAdminLib.Components.Form.InputType.Static:
            {
                <p class="form-control-static">@Model.Value</p>
            }
            break;
        case vNextAdminLib.Components.Form.InputType.Textarea:
            {
                <textarea class="form-control" name="@Model.Name" rows="@Model.Rows" @Html.Raw(Model.GetTagAttributes())>
                    @Model.Value
                </textarea>
        }
        break;
    default:
        {
            <input class="form-control" name="@Model.Name" value="@Model.Value" @Html.Raw(Model.GetTagAttributes())>
        }
        break;
}
    @if (!string.IsNullOrWhiteSpace(Model.StatusText))
    {
        <p class="help-block">@Model.StatusText</p>
    }
</div>